Name              Installed Available Location Description
Adafruit NeoPixel 1.15.2    -         user     -
Keypad            3.1.1     -         user     -
LiquidCrystal I2C 1.1.2     -         user     -
NonBlockingRTTTL  1.4.0     -         user     -
